SpeechRecognition
albumentations
altair
apache-airflow
arch
auto-sklearn
blosc
bokeh
catboost
darts
dash
dask
datatable
detectron2
diffusers
dirty-cat
easyocr
eli5
fastai
feature-engine
featuretools
flaml
folium
gensim
geopandas
great-expectations
h2o
holoviews
hydra-core
imbalanced-learn
imgaug
ipython
joblib
jupyter
kedro
keras
kili
librosa
lightfm
lightgbm
lime
linearmodels
loguru
luigi
matplotlib
mlflow
networkx
neuralprophet
nltk
numpy
onnx
opencv-python
openpyxl
optuna
pandas
plotly
polars
prefect
prophet
pyarabic
pyarrow
pydantic
pyjanitor
pymc
pytesseract
rich
scikit-image
scikit-learn
scikit-surprise
scipy
seaborn
sentence-transformers
shap
sklearn-evaluation
spacy
statsmodels
streamlit
tensorflow
tensorrt
textblob
torch
torch-geometric
torchaudio
tpot
tqdm
transformers
transformers[sentencepiece]
tsfresh
vaex
whisper
xgboost
xlrd
zarr