SpeechRecognition
albumentations
altair
apache-airflow
arch
bokeh
catboost
dash
dask
datatable
detectron2
diffusers
dirty-cat
easyocr
eli5
fastai
feature-engine
flaml
gensim
great-expectations
h2o
holoviews
hydra-core
imbalanced-learn
imgaug
ipython
joblib
jupyter
kedro
keras
kili
librosa
lightgbm
lime
linearmodels
loguru
luigi
matplotlib
mlflow
nltk
numpy
onnx
opencv-python
openpyxl
optuna
pandas
plotly
polars
prefect
prophet
pyarabic
pyarrow
pydantic
pyjanitor
pymc
pytesseract
rich
scikit-image
scikit-learn
scipy
seaborn
sentence-transformers
shap
sklearn-evaluation
spacy
statsmodels
streamlit
tensorflow
tensorrt
textblob
torch
torchaudio
tpot
tqdm
transformers
transformers[sentencepiece]
vaex
whisper
xgboost
xlrd